USE [master]
GO
/****** Object:  Database [thesys]    Script Date: 10/2/2017 11:33:40 ******/
CREATE DATABASE [thesys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'thesys', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\thesys.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'thesys_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\thesys_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [thesys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [thesys]
GO
USE [thesys]
GO
/****** Object:  User [thesys_system]    Script Date: 10/2/2017 11:33:40 ******/
CREATE USER [thesys_system] FOR LOGIN [thesys_system] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCitation_Format]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCitation_Format](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[format] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblColleges]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblColleges](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDepartment]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[college_id] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPasswords]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPasswords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[password] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblProponents]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProponents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thesis_id] [int] NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[middle_name] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRequest]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRequest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[date_time] [datetime] NOT NULL,
	[upload_code] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTags]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTags](
	[id] [int] NULL,
	[name] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblThesis]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThesis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[thesis_file] [nvarchar](max) NULL,
	[file_type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[request_id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblThesis_Abstract]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThesis_Abstract](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thesis_id] [int] NOT NULL,
	[image] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblThesis_Citations]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThesis_Citations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thesis_id] [int] NOT NULL,
	[date_time] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblThesis_Evaluators]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThesis_Evaluators](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[evaluator_id] [int] NOT NULL,
	[thesis_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblThesis_Tags]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThesis_Tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thesis_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblThesis_Views]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThesis_Views](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[thesis_id] [int] NOT NULL,
	[date_time] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 10/2/2017 11:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[middle_name] [nvarchar](50) NOT NULL,
	[expiry_date] [date] NOT NULL,
	[type] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
